/*général*/

	body {}


img.superbg { 
position:fixed; top:0; left:0; z-index:-1; 
}



@font-face {
    font-family: 'heavy_dataregular';
    src: url('heavy_data-webfont.eot');
    src: url('heavy_data-webfont.eot?#iefix') format('embedded-opentype'),
         url('heavy_data-webfont.woff2') format('woff2'),
         url('heavy_data-webfont.woff') format('woff'),
         url('heavy_data-webfont.ttf') format('truetype'),
         url('heavy_data-webfont.svg#heavy_dataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*header*/

header { 
widht:100%;
height:40%
margin : 0%;
}

#logo {
Color: RGB(92,92,92);
font-family: 'heavy_dataregular', Arial, sans-serif;
font-size:2em;
}


/*corp*/

h1,h2,h3,h4 {
font-family: Arial, sans-serif;	
font-size:1.3em;
}

article { 
background-color: rgb(114, 211, 238); 
background-color: rgba(114, 211, 238, 0.5);
color:black; 
widht:100%
height:100%
padding : 5%;
margin : 5% 10% 5% 10%;
font-size:1em;
font-family: Arial, sans-serif; de
border-radius: 10px
}


/*footer*/

footer { 
font-size:1em;
text-align:center;
color:white; 
Background-Color: RGB(45,157,229);
Background-Color: RGBa(45,157,229,0.5);
widht:100%
height:20%} 
